.slider-container{
    width: 100vw;
    padding: 30px 20px;
}
.slider-content{
    max-width: 400px;
    max-height: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    margin-inline: auto;
    display: flex;
    position: relative;
}
.slider-content .btn{
    position: absolute;
    inset: 0 0 0 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-content img{
    width: 100%;
    object-fit: cover;
}